[submodule "refer/skills"]
	path = refer/skills
	url = git@github.com:mattpocock/skills.git
[submodule "refer/superpowers"]
	path = refer/superpowers
	url = git@github.com:obra/superpowers.git
[submodule "refer/agent-skills"]
	path = refer/agent-skills
	url = git@github.com:addyosmani/agent-skills.git
[submodule "refer/spec-kit"]
	path = refer/spec-kit
	url = git@github.com:github/spec-kit.git
[submodule "refer/ECC"]
	path = refer/ECC
	url = git@github.com:affaan-m/ECC.git
