[submodule "refer/skills"]
	path = refer/skills
	url = git@github.com:mattpocock/skills.git
[submodule "refer/superpowers"]
	path = refer/superpowers
	url = git@github.com:obra/superpowers.git
[submodule "refer/agent-skills"]
	path = refer/agent-skills
	url = git@github.com:addyosmani/agent-skills.git
